<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Values</key>
	<array>
		<string>UTF-8</string>
		<string>UTF-16</string>
		<string>UTF-16BE</string>
		<string>UTF-16LE</string>
		<string>GB18030</string>
		<string>ISO-8859-15</string>
		<string>Windows-1252</string>
		<string>IBM850</string>
		<string>ISO-8859-2</string>
		<string>Windows-1250</string>
		<string>ISO-8859-3</string>
		<string>ISO-8859-10</string>
		<string>Windows-1251</string>
		<string>KOI8-R</string>
		<string>KOI8-U</string>
		<string>ISO-8859-6</string>
		<string>Windows-1256</string>
		<string>ISO-8859-7</string>
		<string>Windows-1253</string>
		<string>ISO-8859-8</string>
		<string>Windows-1255</string>
		<string>ISO-8859-9</string>
		<string>Windows-1254</string>
		<string>ISO-8859-11</string>
		<string>Windows-874</string>
		<string>ISO-8859-13</string>
		<string>Windows-1257</string>
		<string>ISO-8859-14</string>
		<string>ISO-8859-16</string>
		<string>ISO-2022-CN-EXT</string>
		<string>EUC-CN</string>
		<string>ISO-2022-JP-2</string>
		<string>EUC-JP</string>
		<string>Shift_JIS</string>
		<string>CP949</string>
		<string>ISO-2022-KR</string>
		<string>Big5</string>
		<string>ISO-2022-TW</string>
		<string>Big5-HKSCS</string>
		<string>VISCII</string>
		<string>Windows-1258</string>
	</array>
	<key>Titles</key>
	<array>
		<string>Universal (UTF-8)</string>
		<string>Universal (UTF-16)</string>
		<string>Universal (big endian UTF-16)</string>
		<string>Universal (little endian UTF-16)</string>
		<string>Universal Chinese (GB18030)</string>
		<string>Western European (Latin-9)</string>
		<string>Western European (Windows-1252)</string>
		<string>Western European (IBM 00850)</string>
		<string>Eastern European (Latin-2)</string>
		<string>Eastern European (Windows-1250)</string>
		<string>Esperanto (Latin-3)</string>
		<string>Nordic (Latin-6)</string>
		<string>Cyrillic (Windows-1251)</string>
		<string>Russian (KOI8-R)</string>
		<string>Ukrainian (KOI8-U)</string>
		<string>Arabic (ISO 8859-6)</string>
		<string>Arabic (Windows-1256)</string>
		<string>Greek (ISO 8859-7)</string>
		<string>Greek (Windows-1253)</string>
		<string>Hebrew (ISO 8859-8)</string>
		<string>Hebrew (Windows-1255)</string>
		<string>Turkish (ISO 8859-9)</string>
		<string>Turkish (Windows-1254)</string>
		<string>Thai (TIS 620-2533/ISO 8859-11)</string>
		<string>Thai (Windows-874)</string>
		<string>Baltic (Latin-7)</string>
		<string>Baltic (Windows-1257)</string>
		<string>Celtic (Latin-8)</string>
		<string>South-Eastern European (Latin-10)</string>
		<string>Simplified Chinese (ISO-2022-CN-EXT)</string>
		<string>Simplified Chinese Unix (EUC-CN)</string>
		<string>Japanese (7-bits JIS/ISO-2022-JP-2)</string>
		<string>Japanese Unix (EUC-JP)</string>
		<string>Japanese (Shift JIS)</string>
		<string>Korean (EUC-KR/CP949)</string>
		<string>Korean (ISO-2022-KR)</string>
		<string>Traditional Chinese (Big5)</string>
		<string>Traditional Chinese Unix (EUC-TW)</string>
		<string>Hong-Kong Supplementary (HKSCS)</string>
		<string>Vietnamese (VISCII)</string>
		<string>Vietnamese (Windows-1258)</string>
	</array>
</dict>
</plist>
