body {
	padding: 0;
	margin: 0;
	border: none;
	color: #111111;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}

table,tbody,tr,td {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
ol,ul {
	margin: 0 0 0 1em;
	padding: 0;
}
ol>li,ul>li {
	line-height: 1.5em;
}
ol>li+li,ul>li+li {
	margin-top: 0.5em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: 1.5em;
	position: relative;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}

input,
textarea {
	font-size: inherit;
}
input:focus,
textarea:focus {
	outline: none;
}

.hardlink_text {
	vertical-align: middle;
}
.hardlink_text:not(:hover)>a.hardlink {
	visibility: hidden;
	opacity: 0;

	-webkit-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
	-moz-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
	-o-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
	transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, visibility 0.25s linear 0s;
}
a.hardlink {
	display: block;
	visibility: visible;
	position: absolute;
	right: 100%;
	top: 0;
	padding: 0 0.25em 0 0.5em;
	color: #c8c8c8;
	font-weight: bold;

	-webkit-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
	-moz-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
	-o-transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
	transition: color 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.5s, visibility 0s linear 0.5s;
}
a.hardlink:hover {
	text-decoration: none;
	color: #30b194;
}
a.hardlink:after {
	content: "#";
}

p+p,
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p,
p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,
h4+h6 {
	margin-top: 1em;
}

strong {
	font-size: 1em;
}

code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
code.nowrap {
	display: inline-block;
	white-space: nowrap;
}

.codeblock {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	display: block;
	background: #f3f3f3;
	border: 1px solid #e5e5e5;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0;
	line-height: 1.5em;
}
.codeblock_inner {
	display: inline-block;
	padding: 0.5em;
}
.codeblock.codeblock_pre>.codeblock_inner {
	white-space: pre;
}

*::selection {
	color: #ffffff;
	background: #30b194;
	text-shadow: none;
}
*::-moz-selection {
	color: #ffffff ;
	background: #30b194;
	text-shadow: none;
}

.section_id {
}

.script_disabled {
}
.script_disabled:not(.script_visible) {
	display: none;
}
.script_enabled {
}
.script_enabled:not(.script_visible) {
	display: none;
}

input[type=checkbox],
input[type=radio] {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

label.checkbox {
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	vertical-align: middle;
	border: 0.09375em solid #111111;
	border-radius: 0.25em;
	padding: 0.125em;
	position: relative;
	cursor: pointer;
}
label.checkbox:before {
	z-index: -1;
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	content: "";
	border: none;
	border-radius: 0.125em;
	background: #ffffff;
}
label.checkbox:hover:before,
label:not([for]):hover label.checkbox:before {
	border: 0.125em solid #30b194;
}
label.checkbox>input[type=checkbox] {
	position: absolute;
	visibility: hidden;
	display: none;
}
label.checkbox>svg {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
}
label.checkbox>svg>polygon {
	fill: #111111;
}
label.checkbox.delete_checkbox>svg>polygon:not(:first-child) {
	visibility: hidden;
}
label.checkbox.delete_checkbox:hover>svg>polygon:first-child,
label:not([for]):hover label.checkbox.delete_checkbox>svg>polygon:first-child {
	visibility: hidden;
}
label.checkbox.delete_checkbox:hover>svg>polygon:not(:first-child),
label:not([for]):hover label.checkbox.delete_checkbox>svg>polygon:not(:first-child) {
	visibility: visible;
}
label.checkbox>input[type=checkbox]:checked+svg {
	display: block;
}


a {
	color: #30b194;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.light_underline {
	color: #c8c8c8;
}
span.light_underline, a.light_underline>span {
	color: #30b194;
}
a.light_nohover_color_hover {
	color: #c8c8c8;
}
a.light_nohover_color_hover:hover {
	color: #30b194;
	text-decoration: none;
}

.main {
	text-align: left;
	display: inline-block;
	width: 60em;
	vertical-align: middle;
}
.main.main_no_overflow {
	overflow: hidden;
}
.main.body {
	margin: 0.5em 0 4em 0;
}

.header_bar {
	position: relative;

	background: #f3f3f3;
	background: -webkit-linear-gradient(180deg, #f9f9f9, #f3f3f3);
	background: -moz-linear-gradient(180deg, #f9f9f9, #f3f3f3);
	background: -o-linear-gradient(180deg, #f9f9f9, #f3f3f3);
	background: linear-gradient(180deg, #f9f9f9, #f3f3f3);

	border-bottom: 1px solid #e5e5e5;
}
.header_table {
	margin: 0.5em 0;
	text-align: left;
}
.header_table td {
	vertical-align: middle;
}
.header_table_cell {
	width: 0;
}
.header_table_cell.header_table_cell_full {
	width: 100%;
}

.header_table_name {
	font-size: 2em;
	line-height: 1.2em;
	white-space: nowrap;
}
.header_table_name_user {
}
.header_table_name_separator {
	display: inline-block;
	margin: 0 0.125em;
	color: #c8c8c8;
}
.header_table_name_title {
}
.header_table_name_title>span {
	font-weight: bold;
}

.header_table_separator {
	vertical-align: middle;
	display: inline-block;
	font-size: 2em;
	height: 1.2em;
	margin: 0 0.5em;
	border-left: 1px solid #c8c8c8;
}

.header_table_description {
	line-height: 1.1em;
}
.header_table_description_name {
	text-transform: lowercase;
	font-weight: bold;
	color: #404040;
}
.header_table_description_body {
	text-transform: lowercase;
	color: #606060;
}

.header_table_view_on_github {
	display: block;
	white-space: nowrap;
	margin-left: 1em;
	text-align: right;
}
.header_table_view_on_github_line1 {
	font-size: 0.8em;
	line-height: 1em;
}
.header_table_view_on_github_line2 {
	line-height: 1em;
}

.light {
	color: #808080;
}
.italic {
	font-style: italic;
}


.converter_exclusive_mode {
	white-space: nowrap;
	margin-left: 1em;
	padding: 0 2em 0 1em;
	display: inline-block;
	font-size: 0.5em;
	font-weight: normal;
	line-height: 1em;
	cursor: pointer;
}
.converter_exclusive_mode_text {
	vertical-align: middle;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-in-out 0s;
	-moz-transition: opacity 0.25s ease-in-out 0s;
	-o-transition: opacity 0.25s ease-in-out 0s;
	transition: opacity 0.25s ease-in-out 0s;
}
.converter_exclusive_mode_text:after {
	content: "exclusive mode";
}
.converter_exclusive_mode:hover>.converter_exclusive_mode_text {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-in-out 0.5s;
	-moz-transition: opacity 0.25s ease-in-out 0.5s;
	-o-transition: opacity 0.25s ease-in-out 0.5s;
	transition: opacity 0.25s ease-in-out 0.5s;
}
.converter_exclusive_mode_check {
	margin-right: 0.25em;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-in-out 0s;
	-moz-transition: opacity 0.25s ease-in-out 0s;
	-o-transition: opacity 0.25s ease-in-out 0s;
	transition: opacity 0.25s ease-in-out 0s;
}
.converter_exclusive_mode:hover>.converter_exclusive_mode_check {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-in-out 0.5s;
	-moz-transition: opacity 0.25s ease-in-out 0.5s;
	-o-transition: opacity 0.25s ease-in-out 0.5s;
	transition: opacity 0.25s ease-in-out 0.5s;
}

.converter {
	display: block;
	padding: 2em;
	border: 0.25em dashed #c8c8c8;
	cursor: pointer;
	text-align: center;
	-webkit-transition: border-color 0.25s ease-in-out 0s;
	-moz-transition: border-color 0.25s ease-in-out 0s;
	-o-transition: border-color 0.25s ease-in-out 0s;
	transition: border-color 0.25s ease-in-out 0s;
	background: #f3f3f3;

}
.converter.converter_files_active {
	border-color: #30b194;
}
.converter_container {
	display: inline-block;
	padding-right: 3em;
}
.converter_table {
	text-align: left;
	display: table;
	vertical-align: middle;
}
.converter_cell {
	display: table-cell;
	vertical-align: middle;
}
.converter_cell_left {
	width: 0;
}
.converter_cell_right {
	width: 100%;
}
.converter_svg_container {
	width: 8.5em;
	height: 10em;
}
.converter_svg_graphic {
	width: 10em;
	height: 10em;
	-webkit-transition: transform 0.25s ease-in-out 0s;
	-moz-transition: transform 0.25s ease-in-out 0s;
	-o-transition: transform 0.25s ease-in-out 0s;
	transition: transform 0.25s ease-in-out 0s;
}
.converter_svg_graphic_poly {
	fill: #c8c8c8;
	stroke: none;
	-webkit-transition: fill 0.25s ease-in-out 0s;
	-moz-transition: fill 0.25s ease-in-out 0s;
	-o-transition: fill 0.25s ease-in-out 0s;
	transition: fill 0.25s ease-in-out 0s;
}
.converter_info {
	display: inline-block;
	text-align: right;
}
.converter_info_line1 {
	font-weight: bold;
	font-size: 4em;
	line-height: 1em;
}
.converter_info_line2 {
	font-size: 2em;
	line-height: 1em;
}
.converter_info_line3 {
	margin-top: 2em;
	line-height: 1em;
	color: #a0a0a0;
}
.converter_files_input {
	display: none !important;
}

.converter:hover .converter_svg_graphic,
.converter.converter_files_hover .converter_svg_graphic {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}
.converter.converter_files_active .converter_svg_graphic_poly {
	fill: #30b194;
}

.converted {
	margin-top: 2em;
}
.converted:not(.converted_visible) {
	display: none;
}
.converted_item {
}
.converted_item+.converted_item {
	margin-top: 1em;
}
.converted_item_title_container {
	border-bottom: 0.25em solid #c8c8c8;
	margin-bottom: 1em;
}
.converted_item_title {
	color: #30b194;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.2em;
	max-height: 2.4em;
	overflow: hidden;
}
.converted_item_contents {
	margin-left: 2em;
}


.converted_item_link_container {
	width: 100%;
	overflow-x: hidden;
	margin-bottom: 1em;
}
a.converted_item_link {
	font-size: 1.25em;
	color: #30b194;
	white-space: nowrap;
}
a.converted_item_link:hover {
	text-decoration: underline;
}
a.converted_item_link>span {
	color: #111111;
}
.converted_item_textbox {
	display: block;
	width: 100%;
	margin: 0.5em 0 0 0;
	padding: 0.5em;
	border: 1px solid #c8c8c8;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 1.2em;
	color: #111111;
}
.converted_item_textbox[readonly] {
	color: #808080;
}

.converted_item_header {
	margin: 0;
}
.converted_item_header_text {
	display: inline-block;
	font-weight: bold;
}
.converted_item_options_container:not(.converted_item_options_container_visible)>.converted_item_header>.converted_item_header_text {
	display: none;
}

a.converted_item_options_toggle {
	color: #30b194;
	display: inline-block;
}
.converted_item_options_container.converted_item_options_container_visible>.converted_item_header>a.converted_item_options_toggle {
	margin-left: 1em;
}
a.converted_item_options_toggle>span {
	color: #c8c8c8;
}
a.converted_item_options_toggle:hover>span {
	color: #111111;
}
a.converted_item_options_toggle>span:after {
	content: "Show options";
}
.converted_item_options_container.converted_item_options_container_visible>.converted_item_header>a.converted_item_options_toggle>span:after {
	content: "Hide";
}

.converted_item_options_container {
}
.converted_item_options {
	margin-top: 0.5em;
}
.converted_item_options_container:not(.converted_item_options_container_visible)>.converted_item_options {
	display: none;
}
.converted_item_option {
}
.converted_item_option+.converted_item_option {
	margin-top: 0.5em;
}
.converted_item_option_part {
	cursor: pointer;
	display: inline-block;
}
.converted_item_option_part+.converted_item_option_part {
	margin-left: 1em;
}
.converted_item_option_part:not(.converted_item_option_part_visible) {
	display: none;
}
.converted_item_option_checkbox {
	vertical-align: middle;
	margin-right: 0.25em;
}
.converted_item_option_text {
	vertical-align: middle;
}

.non_exclusive {
	margin-top: 2em;
}
.non_exclusive.exclusive_enabled {
	display: none;
}
